.Rproj.user
.Rhistory
.RData
.Ruserdata
data/sample_submission.zip
data/test_hogares.csv
data/test_hogares.zip
data/test_hogares.zip
data/test_personas.csv
data/train_hogares.csv
data/train_personas.csv
data/.DS_Store
.RDataTmp1
data/.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
*.R
